/*******************************
/** - aeComply - VARIABLES  - **
*******************************/

$brand-blue: #00ABC7;

$brand-green: #96C11F;

$opacity-blue: #00A3D9;

$cta-button: #CF7226;

$light-grey: #F2F2F2; //nav bkg

$med-grey: #E4E4E4;

$dark-blue: #009DB9; //sub footer

$darker-blue: #00697B //blue hover



